.navbar {
   
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
      
        z-index: 999;
      
  }
  

  /* Navbar brand */
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  /* Navbar toggler */
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }
  
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }
  
  /* Navbar menu */
  .navbar-collapse {
    justify-content: space-between;
  }
  
  .nav-item {
    margin: 0 1rem;
  }
  
  .head_btn {
    display: inline-block;
    margin: 0;
  }
  
  .head_btn .navbar-brand {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    transition: all 0.3s ease;
  }
  
  .head_btn .navbar-brand:hover {
    color: #0056b3;
  }
  
  /* Dropdown menu */
  .dropdown-menu {
    background-color: white;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
.logo {
    height: 130px;
    margin-top: 10px;
    background-color: var(--logo-white);
}
  
  .dropdown-menu a {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
  }
  
  .dropdown-menu a:hover {
    background-color: #0056b3;
    color: #fff;
  }